#tm-search-by-topic .category-box {
  width: 100%;
}

.search-wrapper .search-bar {
  width: 70%;
}

.search-wrapper .search-button {
  width: 25%;
}

/* Add some space between category logo and text */ 
.category-heading p {
  padding: 0 10px;
}