#tm-search-by-topic .category-box {
  width: 100%;
}

.search-wrapper .search-bar {
  width: 70%;
}

.search-wrapper .search-button {
  width: 25%;
}

/* Add some space between category logo and text */ 
.category-heading p {
  padding: 0 10px;
}

/* Bold the topic titles that appear beneath each category on the home page. */ 
.topic-inset .title {
  font-weight: bold;
}