.hamburger-panel .widget-link[href="/faq"] {
  display: none;
}

.hamburger-panel .widget-link[href="/about"] {
  display: none;
}

.nav-item-faq {
  display: none;
}

.nav-item-about {
  display: none;
}

.search-wrapper {
  margin-bottom: .5rem;
}

.search-wrapper .search-bar {
  padding: 10px;
  border-radius: 8px;
  width: 80%;
  margin: auto;
}

.search-wrapper .search-button {
  padding: 8px 16px;
  background: transparent;
  border-radius: 8px;
  width: 160px;
}

/* Hide custom search on the home page */
.home-page .search-wrapper {
  display: none;
}
/* Hide custom search on the search results page */
.search-page .search-wrapper {
  display: none;
}

/* Hide New Topic button on search results page */ 
.search-page button[aria-label="New Topic"] {
  display: none;
}

.about.admins [data-username="chrispollard"] {
  display: none;
}

.about.admins [data-username="jasonkeum"] {
  display: none;
}

.about.admins [data-username="Ricardo_Havill"] {
  display: none;
}

.about.contact {
  display: none;
}

/* Remove the navigation bar and navigation controls from the home page only. */
.home-page .list-controls {
    display: none;
}

/* Hide search icon in user menu. */ 
.icons .search-dropdown {
  display: none;
}

/* Hide the timeline scroller that appears next to a post */ 
.timeline-scrollarea-wrapper {
  display: none;
}

/* Set max width and height for category logo images. */ 
.category-logo.aspect-image {
  max-height: 48px;
  max-width: 48px;
}
/* Vertically center the text next to the logo in a category heading. */ 
.category-heading {
  display: flex;
  align-items: center;
}

/*
  Hide Discourse navigation bar items, but keep custom items. The Discourse
  items in the navigation bar all seem to have "topics" in their title, so we
  will remove those.
*/ 
#navigation-bar li[title*="topics"] {
  display: none;
}

/* Only display the message suggesting to post to community category from support category/subcategory pages. */
#tm-post-to-community {
  display: none;
}
body[class*="category-support"] #tm-post-to-community {
  display: block;
}

/* Make the home page category boxes occupy the entire width of the parent box */ 
.category-boxes {
  justify-content: stretch;
}
.category-boxes .category-box {
  flex: 1 1 0px;
  width: auto;
}

/* Add custom background color for users from the "teachermade_official" user group */
.topic-post.group-teachermade_official .topic-body {
  background-color: #ffffd0;
}

/* BEGIN Search by Topic styles */
/* Only display Search by Topic on the home page */ 
#tm-search-by-topic-section {
  display: none;
}
.home-page #tm-search-by-topic-section {
  display: block;
}

#tm-search-by-topic-section {
  margin: -80px 0 0 0;
  position: relative;
}

#tm-search-by-topic-wrapper {
  /*margin: 0 1% 1.5em 1%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  max-width: calc(100% - 16px);
  width: 1110px;
}

#tm-search-by-topic {
  flex: 1 1 0px;
  /*white-space: nowrap;*/
  width: auto;
}

#tm-search-by-topic h2,
#tm-search-by-topic h4 {
  padding-left: 20px;
}

#tm-search-by-topic .category-box {
  border-color: #585cc5;
  flex: none;
  flex-direction: column;
  width: 30%;
}

#tm-search-by-topic ul {
  list-style-type: none;
}

.tm-accordion {
  /*background-color: #eee;*/
  /*color: #444;*/
  cursor: pointer;
  /*padding: 18px;*/
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/*.tm-accordion-active, .tm-accordion:hover {
  background-color: #ccc;
}*/

.tm-accordion:before {
  content: '\002B';
  color: #777;
  font-weight: bold;
  /*float: right;*/
  margin-right: 5px;
}

.tm-accordion-active:before {
  content: "\2212";
}

.tm-accordion-panel {
  padding: 0 18px;
  /*background-color: white;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* END Search by Topic styles */