.hamburger-panel .widget-link[href="/faq"] {
  display: none;
}

.hamburger-panel .widget-link[href="/about"] {
  display: none;
}

.nav-item-faq {
  display: none;
}

.nav-item-about {
  display: none;
}

.search-wrapper .search-bar {
  padding: 10px;
  border-radius: 8px;
  width: 80%;
  margin: auto;
}

.search-wrapper .search-button {
  padding: 8px 16px;
  background: transparent;
  border-radius: 8px;
  width: 160px;
}

.tm-navigation-buttons {
  margin-top: 10px;
}

.tm-navigation-buttons .btn {
  min-width: 170px;
}

.about.admins [data-username="chrispollard"] {
  display: none;
}

.about.admins [data-username="jasonkeum"] {
  display: none;
}

.about.admins [data-username="Ricardo_Havill"] {
  display: none;
}

.about.contact {
  display: none;
}